RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

AuthName "Kirjaudu"
AuthType Basic
AuthUserFile /home/jipsu/www/kingsatan/.htpasswd
Require valid-user